# OS and Editor files
.DS_Store
*.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.svn
.idea
.swp
*.swp

# Dropbox files that get included
.dropbox

# Ignore fun directories
tmp/
work/

# Ignore Terraform files
.teraform/
