# OS y Editor archivos
.DS_Store
*.DS_Store
.swp
*.swp

# Ignorar directorios divertidos
tmp/
work/

# Ignorar archivos Terraform
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ignorar los variables de el ambiente
.envrc
